
#contenedor-busqueda {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    animation-name: fadein;
    animation-duration: 1s;
}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}
#busqueda {
    background-color: #F5F4F4;
    width: 50%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

#busqueda:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(184, 114, 94, 0.5);
}
