/* ─────────────── CARRITO INACTIVO ─────────────── */
.contenedor-carrito {
    color: #b8725e;
    opacity: 0;                     /* Inicia oculto */
    transform: scale(0.95);
    pointer-events: none;
    transition: opacity .25s ease, transform .25s ease;

    position: fixed;
    top: 0;
    right: 0;
    width: 477px;
    height: 600px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    border-radius: 10px;

    backdrop-filter: blur(15px);
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(249 245 236 / 75%);
    z-index: 20;
}

.contenedor-carrito table{
    margin: 10px;
    width: 100%;
}
.btn-cerrarcarrito {
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    color: #b8725e;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-cerrarcarrito:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(184, 114, 94, 0.5);
}
/* ─────────────── SECCIÓN PAGAR ─────────────── */
.contenedor-pagar {
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    background-color: white;
    padding: 20px;
}

.contenedor-cantidad {
    display: flex;
    align-items: center;
    gap: 5px;
}



.contenedor-pagar p {
    color: #b8725e;
    font-size: large;
    font-weight: 600;
}

.btn-pagar {
    font-weight: 700;
    background-color: #b8725e;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor-subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-pagar:hover {
    background-color: #a05e4a;
}

/* ─────────────── CARRITO ACTIVO ─────────────── */
body:has(#checkbox-carrito:checked) .contenedor-carrito {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

/* Fondo oscuro */
body:has(#checkbox-carrito:checked) #overlay {
    display: block;
}

/* Bloquear scroll */
body:has(#checkbox-carrito:checked) {
}

#overlay{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 3;
}


