div.seccion-categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 42px;
  gap: 25px;
  align-self: stretch;
}

div.categoria-container {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  transition: transform 0.5s ease;
}

.categoria a {
  color: #000;
}

.categoria:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.categoria img {
  object-fit: cover;
  align-self: stretch;
  width: 100%;
  height: 263px;
}

.categoria:hover img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




