.frase {
  margin-top: 40px;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  background-color: #f9f5ec;
  height: 443px;
  overflow-x: hidden;
}

.frase p{
  font-size: 16px;
}