header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  width: 100%;
  transition: transform 0.3s ease;
}

header.oculto {
  transform: translateY(-100%);
}

.menuContainer {
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 16px 0 16px;
  gap: 16px;
  border-bottom: 2px solid var(--200, #dddbdc);
}

.menuContainer a {
  color: black;
  text-decoration: none;
}

.menuContainer a:hover {
  color: #b8725e;
}

nav {
  overflow-x: hidden;
  align-self: stretch;
  width: 100%;
  height: fit-content;
  margin: 10px;
  font-weight: lighter;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav button.btn-principales {
  font-weight: 400;
  padding: 5px;
  font-size: 15px;
}
