header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  width: 100%;
  transition: transform 0.3s ease;
}

header.oculto {
  transform: translateY(-100%);
}

.headerSub {
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
}

.headerSub a {
  font-weight: lighter;
  font-family: Maison Neue;
  color: white;
}

.menuContainer {
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  gap: 16px;
  border-bottom: 1px solid var(--200, #dddbdc);
}

.menuContainer > div {
  flex-shrink: 0;
}

.menuContainer a {
  color: black;
  text-decoration: none;
}

.menuContainer a:hover {
  color: #b8725e;
}

nav {
  align-self: stretch;
  width: 100%;
  height: fit-content;

  font-weight: lighter;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid var(--200, #dddbdc);
}

nav button.btn-principales {
  font-weight: 400;
}
