div.tendencias {
  display: flex;
  flex-direction: row;
}


.producto {
  margin: 0 20px 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 329.333px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.producto:hover .imagen-producto {
  box-shadow: 0 4px 8px rgba(184, 114, 94, 0.5);
}


.imagen-producto {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 329.333px;
  height: 392px;
  background-color: #f9f5ec;
}

div.detalles-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nombre-producto {
  margin: 10px 0 0 10px;
  text-align: left;
}

.precio-producto {
  margin: 10px 10px 0 0;
  text-align: right;
}

button.btn-agregar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 0;
}
