div.tendencias {
  display: flex;
  flex-direction: row;
}

.carrusel-tendencias {
  margin: 0 0 20px 0;
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carrusel-tendencias::-webkit-scrollbar {
  height: 10px;
}

.carrusel-tendencias::-webkit-scrollbar-thumb {
  background-color: rgb(184, 114, 94, 0.5);
  border-radius: 4px;
  cursor: default;
}

.carrusel-tendencias::-webkit-scrollbar-thumb:hover {
  background-color: rgb(184, 114, 94, 0.8);
  border-radius: 4px;
  cursor: pointer;
}

.carrusel-tendencias::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.producto {
  margin: 0 20px 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 329.333px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(184, 114, 94, 0.5);
}

.imagen-producto {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 329.333px;
  height: 392px;
  background-color: #f9f5ec;
}

div.detalles-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nombre-producto {
  margin: 10px 0 0 10px;
  text-align: left;
}

.precio-producto {
  margin: 10px 10px 0 0;
  text-align: right;
}

button.btn-agregar {
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  font-size: 40px;
  padding: 0;
}
