/*#b8725e*/
/*#F9F5EC*/


* {
  box-sizing: border-box;
  font-family: 'Maison Neue', sans-serif;
}

h1 {
  white-space: nowrap; /* evita que el texto haga salto de línea */
  overflow: hidden; /* recorta texto que sobrepase */
  text-overflow: ellipsis;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.92px;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2px;
}

p {
  color: var(--white, #fff);
  text-align: center;
  font-family: "Maison Neue";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
}

body {
  margin: 0;
  font-family: "Maison Neue";
}

section {
  width: 100%;
}

/*
header
*/
header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  width: 100%;
  transition: transform 0.3s ease;
}

header.oculto {
  transform: translateY(-100%);
}

.headerSub {
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
}

.headerSub a {
  font-weight: lighter;
  font-family: Maison Neue;
  color: white;
}

.menuContainer {
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  gap: 16px;
  border-bottom: 1px solid var(--200, #dddbdc);
}

.menuContainer > div {
  flex-shrink: 0;
}

.menuContainer a {
  color: black;
  text-decoration: none;
}

.menuContainer a:hover {
  color: #b8725e;
}

nav {
  align-self: stretch;
  width: 100%;
  height: fit-content;

  font-weight: lighter;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid var(--200, #dddbdc);
}

nav button.btn-principales {
  font-weight: 400;
}

main {
  display: none;
  scroll-behavior: smooth;
}

main.activo {
  display: block;
  animation: fade 0.3s ease;
}

div.hero {
  font-family: "Maison Neue LIGHT";
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.92px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 748px;
  background-size: cover; /* Hace que la imagen cubra todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
}

div.hero button:hover {
  cursor: pointer;
}

div.seccion-categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 42px;
  gap: 25px;
  align-self: stretch;
}

div.categoria-container {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria a {
  color: #000;
}

.categoria:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.categoria img {
  object-fit: cover;
  align-self: stretch;
  width: 100%;
  height: 263px;
  align-self: stretch;
}

div.sugerencias-container {
  align-self: stretch;
  padding: 20px;
  color: white;
  height: 532px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 20px;
}

div.sugerencias {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sugerencias:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div.sugerencias.novedades {
  background-image: url("Recursos/imagenes/novedades.jpg");
}

div.sugerencias.masVendidos {
  background-image: url("Recursos/imagenes/masvendidos.png");
}

div.sugerencias.temporada {
  background-image: url("Recursos/imagenes/temporada.jpg");
}

/*tendencias*/
div.tendencias {
  display: flex;
  flex-direction: row;
}

.carrusel-tendencias {
  margin: 0 0 20px 0;
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carrusel-tendencias::-webkit-scrollbar {
  height: 10px;
}

.carrusel-tendencias::-webkit-scrollbar-thumb {
  background-color: rgb(184, 114, 94, 0.5);
  border-radius: 4px;
  cursor: default;
}

.carrusel-tendencias::-webkit-scrollbar-thumb:hover {
  background-color: rgb(184, 114, 94, 0.8);
  border-radius: 4px;
  cursor: pointer;
}

.carrusel-tendencias::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.producto {
  margin: 0 20px 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 329.333px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(184, 114, 94, 0.5);
}

.imagen-producto {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 329.333px;
  height: 392px;
  background-color: #f9f5ec;
}

div.detalles-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nombre-producto {
  margin: 10px 0 0 10px;
  text-align: left;
}

.precio-producto {
  margin: 10px 10px 0 0;
  text-align: right;
}

button.btn-agregar {
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  font-size: 40px;
  padding: 0;
}

.frase {
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f5ec;
  height: 443px;
}

/*iconos*/
.icon {
  width: 16px;
  height: 16px;
}

.logo {
  width: auto;
  height: 80px;
}

/*botones*/
.btn-principales {
  background-color: transparent;
  border: none;
  font-size: 16px;
  align-items: center;
  color: black;
  display: inline-flex;
  padding: 20px 12px;
  gap: 12px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-principales:hover {
  color: #b8725e;
  cursor: pointer;
  transform: scale(1.05);
  text-shadow: 0 4px 8px rgba(186, 186, 186, 0.5);
}

.btn-principales.activo {
  border-bottom: 4px solid #b8725e;
  color: #b8725e;
  animation: fade 0.3s ease;
}

button.btn-iconos {
  transform: scale(1.5);
  background-color: transparent;
  border: none;
  align-items: center;
  color: black;
  display: inline-flex;
  padding: 20px 12px;
  gap: 12px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-iconos:hover {
  color: #b8725e;
  cursor: pointer;
  transform: scale(1.7);
  text-shadow: 0 4px 8px rgba(186, 186, 186, 0.5);
}

.btn-secundario {
  white-space: nowrap;
  border: none;
  display: flex;
  width: 240px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-secundario:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.instagram {
  align-self: stretch;
  justify-content: center;
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 355px;
  overflow-x: hidden;
  max-height: 100%;
}

.publicacion {
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 251px;
  width: 251px;
  transition: transform 1s ease;

  filter: brightness(70%);
}

.publicacion:hover {
  transform: scale(1.05);
  filter: brightness(100%);
  cursor: pointer;
}
