h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.92px;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2px;
}

p {
  color: var(--white, #fff);
  text-align: center;
  font-family: "Maison Neue";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
}

body {
  margin: 0;
  font-family: "Maison Neue";
}

section {
  width: 100%;
}
