.sidebar-filtros {
  background-color: #ffffff;
  padding: 0 16px 24px;
  width: 320px;
  height: calc(100vh - 150px); 
  overflow-y: auto;
  position: sticky;
  top: 20px;
}

/* Scrollbar */
.sidebar-filtros::-webkit-scrollbar { width: 5px; }

.sidebar-filtros::-webkit-scrollbar-track { background: #f1f1f1; }

.sidebar-filtros::-webkit-scrollbar-thumb {
  background-color: rgba(184, 114, 94, 0.5);
  border-radius: 4px;
}
.sidebar-filtros::-webkit-scrollbar-thumb:hover { background-color: rgba(184, 114, 94, 0.8); }

/* Contenedor cantidad filtros */
.contenedor-cantidad-filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 2px solid #f0f0f0;
}
.contenedor-cantidad-filtros h2 { font-size: 24px; font-weight: 600; }

/* Contenedores ocultos */
.contenedor-categoria  {
  opacity: 0;
  max-height: 0;
  border-bottom: 2px solid #f0f0f0;
}

/* Botón limpiar filtros */
.btn-limpiarfiltros {
  color: gray;
  border: none;
  background: transparent;
  padding: 8px 16px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-limpiarfiltros:hover { background-color: #636363; color: #ffffff; }

/* Título filtro */
.filtro-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.filtro-titulo:hover { color: #b8725e; }
.filtro-titulo h4 { font-size: 16px; font-weight: 600; }
.filtro-titulo label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Rotación del ícono */
#checkbox-categorias:checked ~ .filtro-titulo p { transform: rotate(45deg); transition: all 0.3s ease;}
#checkbox-categorias:not(:checked) ~ .filtro-titulo p { transform: rotate(0deg); transition: all 0.3s ease;}
/* Mostrar contenedores al check */
#checkbox-categorias:checked ~ .contenedor-categoria { opacity: 1; max-height: 300px; transition: all 0.3s ease; } 
#checkbox-categorias:not(:checked) ~ .contenedor-categoria {  max-height: 0; transition: all 0.3s ease; } 
/* Ocultar inputs */
.filtro input[type="radio"],
.filtro input[type="checkbox"] { display: none; }

/* Labels de filtros */
.contenedor-categoria label {
  display: block;
  padding: 12px 16px 12px 40px;
  margin-bottom: 8px;
  cursor: pointer;
  font-weight: 500;
  color: #575049;
  position: relative;
  transition: all 0.3s ease;
}

.contenedor-categoria label:before{
  content: '';
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #dee2e6;
  transition: all 0.3s ease;
}

/* Estado seleccionado */
.contenedor-categoria input[type="checkbox"]:checked + label { color: #b8725e; }
.contenedor-categoria input[type="checkbox"]:checked + label:before {
  border-color: #b8725e;
  background-color: #b8725e;
  box-shadow: inset 0 0 0 3px #ffffff;
}